<!doctype html>
<html lang="cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-transform " />
  <title>{{sitename}}@WwW.0276789.Com-{{hash.name}}_{{sitename}}新网址,中文版{{sitename}},电影BT种子,快播种子,快播资源下载,BT种子下载网站,{{sitename}}BT下载</title>
  <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width"/>
  <meta name="keywords" content="{{sitename}}@WwW.107G.Cn-{{hash.name}},日本,番号库,影片截图,电影,日本电影库,日本电影番号,日本电影导演,日本电影发行商"  />
  <meta name="description" content="{{sitename}}是最专业的线上日本番号库，提供{% for x in hash.name|fenci(30) %}{{x}},{% endfor %}等bt高清电影，是您的线上随手可查的电影库。">
  <link type="text/css" rel="stylesheet" href="//url123456.oss-cn-shenzhen.aliyuncs.com/btzhizhu.css" />
  <script type="text/javascript" src="//url123456.oss-cn-shenzhen.aliyuncs.com/jquery-1.8.3.min.js"></script>
  <link rel="shortcut icon" href="//url123456.oss-cn-shenzhen.aliyuncs.com/favicon.ico" type="image/x-icon">
  <link rel="icon" href="//url123456.oss-cn-shenzhen.aliyuncs.com/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="//url123456.oss-cn-shenzhen.aliyuncs.com/hwdico.jpg" />
</head>
{%include'head.html'%}
    <div class="mainbox">
  <div class="conbox pdlr20">
  <div class="logo"> <img src="//url123456.oss-cn-shenzhen.aliyuncs.com/hdw.jpg"  alt="{{sitename}}" class="logo" /></div>
    <div class="shead cl">
<form name="search" class="main-search form-search text-center" method="POST" action="{{url_for('search')}}">
 <div class="q-input">
        {{form.hidden_tag()}}
   {{form.search(id="kw",class="search-query",placeholder="范冰冰,柳岩,闫凤娇,杨思敏,舒淇,叶玉卿,任达华",required="required")}}
       <input type="submit" id="btnSearch" value="搜索" class="btn">
        </div>
  </form>
    	<p class="grey" style="margin-top:10px;">{{sitename}}搜索建议：大多数资源均以影视的英文名作为资源名</p>

              <p class="grey" style="margin-top:10px;">主题： 
                {% set video=["乱伦","偷窥","萝莉","性感","SEX8","制服","少妇","教师","医生","秘书"] %}{%for v in video%}
                <a href="{{url_for('search_results',query=v,category=0,order=3,page=1)}}" style="color:#039203;">{{v}}</a>{%endfor%}</p>
              <p class="grey" style="margin-top:10px;">角色： 
                {% set video=["姐姐","妹妹","小姨子","护士","主播","人妻","熟女","学生","荡妇","模特"] %}{%for v in video%}
                <a href="{{url_for('search_results',query=v,category=0,order=3,page=1)}}" style="color:#039203;">{{v}}</a>{%endfor%}</p>
              <p class="grey" style="margin-top:10px;">动作： 
                {% set video=["3P","爆乳","肛交","内射","足交","颜射","4P","教师","空姐","女友"] %}{%for v in video%}
                <a href="{{url_for('search_results',query=v,category=0,order=3,page=1)}}" style="color:#039203;">{{v}}</a>{%endfor%}</p>
              <p class="grey" style="margin-top:10px;">品牌：  
                {% set video=["sex8","第一會所","Thz","性吧","色中色","草榴社區","sis001"] %}{%for v in video%}
                <a href="{{url_for('search_results',query=v,category=0,order=3,page=1)}}" style="color:#039203;">{{v}}</a>{%endfor%}</p>
              <p class="grey" style="margin-top:10px;">明星：  
                {% set video=["范冰冰","柳岩","闫凤娇","翟凌","杨幂","舒淇","叶玉卿","任达华"] %}{%for v in video%}
                <a href="{{url_for('search_results',query=v,category=0,order=3,page=1)}}" style="color:#039203;">{{v}}</a>{%endfor%}</p>
              <p class="grey" style="margin-top:10px;">经典：  
                {% set video=["金瓶梅","灯草和尚","聊斋","玉蒲团","满清","三杀","强奸","偷窥"] %}{%for v in video%}
                <a href="{{url_for('search_results',query=v,category=0,order=3,page=1)}}" style="color:#039203;">{{v}}</a>{%endfor%}</p>
<div class="dleft">  
  <h3 class="nobg"><small><b> BT名字：</b></small></h3>
   <div class="mag1" ><textarea class="magta ta" style="margin-bottom:5px;">
{{sitename}}@WwW.0276789.Com-{{hash['name'].encode('utf8')}}</textarea></div>
  <!-- JiaThis Button BEGIN -->
<!-- JiaThis Button END -->
<div class="cl">
<!-- 内容广告 -->
</div> 	  
  <div class="filelist">
      <div class="tit cl">文件属性</div>
          <ol id="files" class="fileTree treeview">
            <li span class="file">文件大小：<small> {% if hash['length']>1073741824 %}
            {{(hash['length']/1073741824)|round(2)}}G{% else %}{{(hash['length']/1048576)|round(2)}}M{%endif%}</small></li>
            <li span class="file">访问热度：<small> {{hash['requests']}}</small></li>
            <li span class="file">最近访问：<small>{{hash['last_seen']|todate}}</small></li>
            <li span class="file"><dd class="like"><span>猜你喜欢： 
            {% for x in hash.name|fenci(30) %}
            <a href="{{url_for('search_results',query=x,category=0,order=3,page=1)}}" class="pill" style="color:#039203;">{{x}}</a>&nbsp;&nbsp;
            {% endfor %}
            </span></dd></li>
      </ol> </div>
     <div class="filelist second">
      <div class="tit cl">{{sitename}}资源下载</div>
          <ol id="files" class="fileTree treeview">
            <li span class="file"><img src="//url123456.oss-cn-shenzhen.aliyuncs.com/magnet1.png"> 磁力链接：
			<a href="magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}&dn=【{{sitename}}】-http://www.0276789.com" rel="nofollow">magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}</a></li>
      	    <li span class="file"> <img src="//url123456.oss-cn-shenzhen.aliyuncs.com/thunder.png"> 迅雷下载：
			{% set magneturl=("magnet:?xt=urn:btih:"~hash['info_hash'] | upper) %}
            <a href="thunder://{{magneturl|tothunder}}" rel="nofollow">thunder://{{magneturl|tothunder}}</a>
      	    <li span class="file"> <img src="//url123456.oss-cn-shenzhen.aliyuncs.com/player.png"> 在线下载：<b>
			<a href="{{url_for('download',info_hash=hash.info_hash)}}" target="_blank" rel="nofollow" style="color:#E53333;">电信下载</a>&nbsp;&nbsp;&nbsp;<a href="{{url_for('download',info_hash=hash.info_hash)}}" target="_blank" rel="nofollow" style="color:#E53333;">联通下载</a></b></li>
	  </ol> </div> 
  
    <div class="filelist">
      <div class="tit cl">{{sitename}}24小时热门磁力链接</div>
   <ol id="files" class="fileTree treeview">
            {% for d in dayhot[:15]%}
    <li span class="file"> <b><a href="{{url_for('detail',info_hash=d.info_hash)}}" rel="nofollow" style="color:#E53333;">♥{{d.name|truncate(70)}}</a></b></li>
            {% endfor %} </ol> </div>

</div>
<div class="dright"><div class="filelist">
      <div class="tit cl">{{sitename}}网友搜索</div>
  <ul>
            {% for tag in tags[-100:] %}
       <a href="{{url_for('search_results',query=tag.tag,category=0,order=3,page=1)}}"><font size="3" color="#039203">{{tag.tag}}</font></a>&nbsp;&nbsp;
            {% endfor%}
</ul>
</div></div></div></div></div><p><br /></p>
{%include'footer.html'%}
</body>
</html>