
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Cache-Control" content="no-transform " />
  <title>{{hash.name}}_磁力链接_BT种子_迅雷下载_蜘蛛磁力搜索</title>
  <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width"/>
  <meta name="keywords" content="{{hash.name}}" />
  <meta name="description" content="蜘蛛磁力搜索是先进的BT磁力链接搜索引擎。这里有{{hash.name}}的免费资源下载，同时还提供{{hash.name}}在线云播放和迅雷离线下载，可以将资源BT种子保存在本地，支持小米路由一键下载。" />
  <link type="text/css" rel="stylesheet" href="//css12345.qiniudn.com/btzhizhu.css" />
  <script type="text/javascript" src="//code.jquery.com/jquery-1.8.3.min.js"></script>
  <link rel="shortcut icon" href="//css.315g.cn/favicon.ico" type="image/x-icon">
  <link rel="icon" href="//dg12.qiniudn.com/favicon.ico" type="image/x-icon">
  {{ moment.include_moment() }}
  {{ moment.lang("zh-cn") }}
</head>
<body>
{%include'head.html'%}
    <div class="mainbox">
  <div class="conbox pdlr20">
    <div class="shead cl">
<form name="search" class="main-search form-search text-center" method="POST" action="{{url_for('search')}}">
 <div class="q-input">
        {{form.hidden_tag()}}
   {{form.search(id="kw",class="search-query",placeholder="电影，音乐，小说，文件，图片",required="required",autocomplete = "off" ,autofocus="autofocus")}}
       <input type="submit" id="btnSearch" value="搜索" class="btn">
        </div>
  </form>
              <p class="grey" style="margin-top:10px;">搜索建议：大多数资源均以影视的英文名作为资源名</p>
		 <p class="grey" style="margin-top:10px;">
		 站长推荐工具：&nbsp;&nbsp;&nbsp; 

		 </p>
<div class="dleft">  
   <h3 class="nobg"><small><b> 解析结果如下 ：</b>{{hash['name'].encode('utf8')}}</small></h3>
   <div class="mag1" ><textarea class="magta ta" style="margin-bottom:5px;">
magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}</textarea></div>
  <!-- JiaThis Button BEGIN -->
<!-- JiaThis Button END -->
<div class="cl">

<!-- 内容广告 -->
</div> 
   <div class="filelist second">
      <div class="tit cl">资源下载</div>
          <ol id="files" class="fileTree treeview">
            <li span class="file"><img src="//css97ss.qiniudn.com/magnet1.png"> 磁力链接：
			<a href="magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}" rel="nofollow">magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}</a></li>
      	    <li span class="file"> <img src="//css97ss.qiniudn.com/thunder.png"> 迅雷下载：
			{% set magneturl=("magnet:?xt=urn:btih:"~hash['info_hash'] | upper) %}
            <a href="thunder://{{magneturl|tothunder}}" rel="nofollow">thunder://{{magneturl|tothunder}}</a>
      	    <li span class="file"> <img src="//css97ss.qiniudn.com/player.png"> 在线下载：<b>
			<a href="{{url_for('download',info_hash=hash.info_hash)}}" target="_blank" rel="nofollow" style="color:#E53333;">电信下载</a>&nbsp;&nbsp;&nbsp;<a href="{{url_for('download',info_hash=hash.info_hash)}}" target="_blank" rel="nofollow" style="color:#E53333;">磁力云播安卓版(你懂的)</a></b></li>
	  </ol> </div> 
	  
  <div class="filelist">
      <div class="tit cl">热门搜索</div>
          <ol id="files" class="fileTree treeview">
            <li span class="file">
            {% for tag in tags[-200:] %}
       <a title="{{tag.tag}}" href="{{url_for('search_results',query=tag.tag,category=0,order=0,page=1)}}">{{tag.tag}}</a>&nbsp;&nbsp;&nbsp;{% endfor%}</li>
      </ol> 
	</div>

  <div class="filelist">
      <div class="tit cl">文件属性</div>
          <ol id="files" class="fileTree treeview">
            <li span class="file">文件大小：<small> {% if hash['length']>1073741824 %}
            {{(hash['length']/1073741824)|round(2)}}G{% else %}{{(hash['length']/1048576)|round(2)}}M{%endif%}</small></li>
            <li span class="file">DMCA/屏蔽：<small><a href="{{url_for('dmca',info_hash=hash.info_hash)}}"><b>DMCA/屏蔽</b></a></small></li>
            <li span class="file">访问热度：<small> {{hash['requests']}}</small></li>
            <li span class="file">最近访问：<small>{{ moment(hash['last_seen']|todate).fromNow(refresh=True) }}</small></li>
            <li span class="file"><dd class="like"><span>猜你喜欢： 
            {% for x in hash.name|fenci(50) %}
            <a title="{{x}}" href="{{url_for('search_results',query=x,category=0,order=0,page=1)}}" class="pill">{{x}}</a>&nbsp;&nbsp;
            {% endfor %}
            </span></dd></li>
      </ol> </div>
	  
</div>
<div class="dright">
     <div class="filelist">
      <div class="tit cl">人气女优</div>
   <p> <ul class="s-news-rank-content">
{% for actor in actors[-30:] %}
<li class="news-meta-item news-artist">
<a title="{{actor.actorname}}" href="{{url_for('search_results',query=actor.actorname,category=0,order=0,page=1)}}">{{actor.actorname}}</a></li>{% endfor%}
</li>
</p>
      </div>
  </div>
</div></div></div>

	<p>
	<br />
</p>
{%include'footer.html'%}
</body>
</html>