<!doctype html>
<html lang="cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{hash.name}} - {{sitename}} - 男人都爱上的磁力连接搜索引擎</title>
  <meta name="keywords" content="{{sitename}},{{hash.name}},宅男BT,宅男磁力,宅男福利,磁力搜索,番号搜索,番号搜索引擎,磁力链接,BT种子,BT种子搜索,BT搜索引擎,种子搜索神器,磁力链接搜索,磁力链接搜索引擎">
  <meta name="description" content="{{sitename}}搜索引擎是功能强大的磁力搜索引擎，牛逼的番号搜索、磁力搜索功能，更好用的BT种子搜索引擎！男人都爱上>的磁力搜索引擎">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{sitename}}-男人都爱上的磁力连接搜索引擎"/>
  <link rel="shortcut icon" href="//css.315g.cn/favicon.ico" type="image/x-icon">
  <link rel="icon" href="//dg12.qiniudn.com/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="//dg12.qiniudn.com/amazeui.custom.min.css">
  <link rel="stylesheet" href="//dg12.qiniudn.com/app.css">
</head>
{%include'head.html'%}
    
    <div class="am-margin-top am-margin-bottom">
      <form name="search" class="am-form" method="post" action="{{url_for('search')}}"  >
        <div class="am-input-group am-input-group-secondary">
        {{form.hidden_tag()}}
        {{form.search(id="kw",class="am-form-field am-input-lg",placeholder="输入电影、电视、女演员、番号等磁力链接资源名称...",required="required",autocomplete = "on" ,autofocus="autofocus")}}
          <span class="am-input-group-btn am-btn-xl "><button class="am-btn am-btn-xl am-btn-secondary" type="submit">搜索磁力</button></span>
        </div>
      </form>
    </div>
    
  </div>
</div>
<div class ="wrap"><div class="am-container">
      <div class="am-panel am-panel-default am-margin-top-sm am-margin-bottom-sm">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
            <h2 class="am-titlebar-title ">BT种子名称</h2>
        </div>
        <div class="am-panel-bd sidebar">
          <h2>{{hash['name'].encode('utf8')}}</h2>
        </div>
      </div>
    </div>
<div class="am-container ">
  <div class="am-panel am-panel-default">
    <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
        <h2 class="am-titlebar-title ">分享给好友</h2>
    </div>
    <div class="am-panel-bd sidebar">
      
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style_32x32">
            <a class="jiathis_button_cqq"></a>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_tieba"></a>
            <a class="jiathis_button_baidu"></a>
            <a class="jiathis_button_douban"></a>
            <a class="jiathis_button_hi"></a>
            <a class="jiathis_button_yixin"></a>
            <a class="jiathis_button_xiaoyou"></a>
            <a class="jiathis_button_qq"></a>
            <a class="jiathis_button_twitter"></a>
            <a class="jiathis_button_fb"></a>
            <a class="jiathis_button_delicious"></a>
            <a class="jiathis_button_reddit"></a>
            <a class="jiathis_button_yijee"></a>
            <a href="http://www.jiathis.com/share?uid=2141073" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
            <a class="jiathis_counter_style"></a>
        </div>
        <!-- JiaThis Button END -->
        <div class="am-cf"></div>
        <span class="red f14">亲，你知道吗？下载的人越多速度越快，赶快把本页面分享给好友一起下载吧^_^</span>
    
    </div>
  </div>
</div>
<div class="am-container ">
  <div class="am-g am-g-fixed">
    <div class="am-u-md-8">

      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">BT种子基本信息</h2>
        </div>
        <div class="am-panel-bd ">
          <ul  class=" main-list am-text-truncate">
            <li>种子哈希：<b>{{hash['info_hash']}}</b><br /></li>
            <li>文档大小：<b>{% if hash['length']>1073741824 %}
{{(hash['length']/1073741824)|round(2)}}G
{% else %}{{(hash['length']/1048576)|round(2)}}M
{%endif%}</b></li>
            <li>下载次数：<b>{{hash['requests']}}</b>次</li>
            <li>下载速度：<b>极快</b></li>
            <li>收录时间：<b>{{hash['create_time']|todate}}</b></li>
            <li>最近下载：<b>{{hash['last_seen']|todate}}</b></li>
            <li>DMCA/屏蔽：<a href="{{url_for('dmca',info_hash=hash.info_hash)}}"><b>DMCA/屏蔽</b></a></li>
          </ul>
        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">下载磁力链接</h2>
        </div>
        <div class="am-panel-bd downmagnet">
          <img src="{{url_for('static',filename='magnet_url.png')}}" alt="magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}" target="_blank" ><a href="magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}">magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}</a>
          <br/><span class="am-text-warning">复制磁力链接到utorrent、Bitcomet、迅雷、115、百度网盘等下载工具进行下载。</span>
        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">下载BT种子</h2>
        </div>
        <div class="am-panel-bd downmagnet">
          <img src="{{url_for('static',filename='torrent.png')}}" alt="http://itorrents.org/torrent/{{hash['info_hash'] | upper}}.torrent" target="_blank" ><a href="http://itorrents.org/torrent/{{hash['info_hash'] | upper}}.torrent">点击下载BT种子</a>
          <br/><span class="am-text-warning">拷贝下载的BT种子到utorrent、Bitcomet、迅雷、115、百度网盘等下载工具进行下载。</span>
        </div>
      </div>
      
      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">下载磁力链接</h2>
        </div>
        <div class="am-panel-bd ">
          <div class="down_btn">
            <input id="MagnetLink" type="hidden" value="magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}">
            <a href="magnet:?xt=urn:btih:{{hash['info_hash'] | upper}} " target="_blank" class="am-btn am-btn-warning">磁力链接</a>
            <a href="javascript:;" onClick="copyMagnetLink()" class="am-btn am-btn-success">复制链接</a>
                {% set magneturl=("magnet:?xt=urn:btih:"~hash['info_hash'] | upper) %}
            <a href="thunder://{{magneturl|tothunder}}" target="_blank" class="am-btn am-btn-secondary">迅雷下载</a>
            <a href="http://vod.xunlei.com/mini.html?url=magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}" target="_blank" class="am-btn am-btn-primary">迅雷云播</a>
            <a href="javascript:;" onClick='start("magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}")' class="am-btn am-btn-danger">迅雷看看</a>
            <br /><span class="f16">磁力链接在线播放？试试<a href="http://pan.baidu.com" target="_blank">百度云网盘离线下载播放</a>！</span>
          </div>
        </div>
      </div><div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">文档列表</h2>
        </div>
        <div class="am-panel-bd ">
          <ul class=" main-list">
          
{% if hash['file_list'] and hash['file_list']|fromjson !=none %}
{% for f in (hash['file_list']|fromjson) %}
<li><img src='../static/{{hash.extension|geticon}}.png' alt='{{hash.extension}}' />{{f['path']}}&nbsp;<span class="gray_color">
{%if f['length']>1073741824%}
{{(f['length']/1073741824)|round(2)}}G
{%elif f['length']>1048576%}
{{(f['length']/1048576)|round(2)}}M
{%elif f['length']>1024%}
{{(f['length']/1024)|round(2)}}K
{%else%}
{{f['length']}}字节
{%endif%}
</span></li>
{% endfor %}

{% else %}
<li><img src='../static/{{hash.extension|geticon}}.png' alt='{{hash.extension}}' />{{hash.name}}&nbsp;<span class="gray_color">
{%if hash['length']>1073741824%}
{{(hash['length']/1073741824)|round(2)}}G
{%elif hash['length']>1048576%}
{{(hash['length']/1048576)|round(2)}}M
{%elif hash['length']>1024%}
{{(hash['length']/1024)|round(2)}}K
{%else%}
{{hash['length']}}字节
{%endif%}
</span></li>
{% endif %}

          </ul>
        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">24小时热门磁力链接</h2>
          <nav class="am-titlebar-nav"><a href="{{url_for('dayhot')}}" target="_blank">更多 &raquo;</a></nav>
        </div> 
        <div class="am-panel-bd ">
          <ul class=" main-list">
          {% for d in dayhot[:10]%}
            <li><img src="../static/{{d.extension|geticon}}.png" alt="{{d.extension}}"><a href="{{url_for('detail',info_hash=d.info_hash)}}" target="_blank"> {{d.name|truncate(60)}} </a>  <span class="gray_color">{{d.requests}}次下载</span> <span class="gray_color">
{% if d.length>1073741824 %}{{(d.length/1073741824)|round(2)}}G{% else %}{{(d.length/1048576)|round(2)}}M {%endif%}</span>
{% for x in d.name|fenci(2) %}
<a class="gray_color" href="{{url_for('search_results',query=x,category=0,order=0,page=1)}}" target="_blank">{{x}}</a>
{% endfor %}
</li>
          {% endfor %}
          </ul>
        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">本周热门磁力链接</h2>
          <nav class="am-titlebar-nav"><a href="{{url_for('weekhot')}}" target="_blank">更多 &raquo;</a></nav>
        </div>
        <div class="am-panel-bd ">
          <ul class=" main-list">
          {% for w in weekhot[:10]%}
            <li><img src="../static/{{w.extension|geticon}}.png" alt="{{w.extension}}"><a href="{{url_for('detail',info_hash=w.info_hash)}}" target="_blank"> {{w.name|truncate(50)}} </a>  <span class="gray_color">{{w.requests}}次下载</span> <span class="gray_color">
{% if w.length>1073741824 %}{{(w.length/1073741824)|round(2)}}G{% else %}{{(w.length/1048576)|round(2)}}M {%endif%}</span>
{% for x in w.name|fenci(2) %}
<a class="gray_color" href="{{url_for('search_results',query=x,category=0,order=0,page=1)}}" target="_blank">{{x}}</a>
{% endfor %}
</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">最新磁力链接</h2>
          <nav class="am-titlebar-nav"><a href="{{url_for('new')}}" target="_blank">更多 &raquo;</a></nav>
        </div>
        <div class="am-panel-bd ">
          <ul class=" main-list">
          {% for n in newest[:18] %}
        <li><img src="../static/{{n.extension|geticon}}.png" alt="{{n.extension}}"><a href="{{url_for('detail',info_hash=n.info_hash)}}" target="_blank"> {{n.name|truncate(50)}}</a>  <span class="gray_color">{% if n.length>1073741824 %}{{(n.length/1073741824)|round(2)}}G{% else %}{{(n.length/1048576)|round(2)}}M {%endif%}</span>
{% for x in n.name|fenci(2) %}
<a class="gray_color" href="{{url_for('search_results',query=x,category=0,order=0,page=1)}}" target="_blank">{{x}}</a>
{% endfor %}
</li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div><!-- end am-u-md 左侧 -->

    <div class="am-u-md-4">
      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">种子标签</h2>
        </div>
        <div class="am-panel-bd tag-art">

{% for x in hash.name|fenci(10) %}
<a href="{{url_for('search_results',query=x,category=0,order=0,page=1)}}" target="_blank">{{x}}</a>
{% endfor %}

        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">最近搜索</h2>
          <nav class="am-titlebar-nav"><a href="{{url_for('tag',page=1)}}" class="" target="_blank">更多 &raquo;</a></nav>
        </div>
        <div class="am-panel-bd tag-cloud">
         {% for tag in tags[:30] %}
            <a class="fb13" href="{{url_for('search_results',query=tag.tag,category=0,order=0,page=1)}}" target="_blank">{{tag.tag}}</a>
          {% endfor %}
        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">人气女优</h2>
          <nav class="am-titlebar-nav"><a href="{{url_for('nvyou',page=1)}}" class="" target="_blank">更多 &raquo;</a></nav>
        </div>
        <div class="am-panel-bd tag-art">
            {% for actor in actors[:30] %}
            <a href="{{url_for('search_results',query=actor.actorname,category=0,order=0,page=1)}}" target="_blank">{{actor.actorname}}</a>
            {% endfor%}
        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">最新番号</h2>
          <nav class="am-titlebar-nav"><a href="{{url_for('fanhao',page=1)}}" class="" target="_blank">更多 &raquo;</a></nav>
        </div>
        <div class="am-panel-bd tag-cloud">
         {% for k in keywords[:30] %}
            <a class="fb13" href="{{url_for('search_results',query=k.keyword,category=0,order=0,page=1)}}" target="_blank">{{k.keyword}}</a>
          {% endfor %}
        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div class="am-panel-bd am-text-warning ">
          同时按Ctrl+D可快速添加本站到收藏夹!您也可以保存到<a href="http://www.baidu.com" >桌面快捷方式</a>。
        </div>
      </div>

      <div class="am-panel am-panel-default" data-am-sticky="{top:200}">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
            <h2 class="am-titlebar-title ">分享BT种子/磁力链接</h2>
        </div>
        <div class="am-panel-bd am-text-warning sidebar">
          
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style_32x32">
            <a class="jiathis_button_cqq"></a>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_tieba"></a>
            <a class="jiathis_button_baidu"></a>
            <a class="jiathis_button_douban"></a>
            <a class="jiathis_button_hi"></a>
            <a class="jiathis_button_yixin"></a>
            <a class="jiathis_button_xiaoyou"></a>
            <a class="jiathis_button_qq"></a>
            <a class="jiathis_button_twitter"></a>
            <a class="jiathis_button_fb"></a>
            <a class="jiathis_button_delicious"></a>
            <a class="jiathis_button_reddit"></a>
            <a class="jiathis_button_yijee"></a>
            <a href="http://www.jiathis.com/share?uid=2141073" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
            <a class="jiathis_counter_style"></a>
        </div>
        <!-- JiaThis Button END -->
        <div class="am-cf"></div>
        <span class="red f14">亲，你知道吗？下载的人越多速度越快，赶快把本页面分享给好友一起下载吧^_^</span>
    
        </div>
      </div></div><!-- end am-u-md 右侧 -->
  </div>
</div>
</div><!--end warp-->



{%include'footer.html'%}
