<!doctype html>
<html lang="cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> 屏蔽/投诉/DMCA </title>
  <meta name="keywords" content="{{sitename}},宅男BT,宅男磁力,宅男福利,磁力搜索,番号搜索,番号搜索引擎,磁力链接,BT种子,BT种子搜索,BT搜索引擎,种子搜索神器,磁力链接搜索,磁力链接搜索引擎">
  <meta name="description" content="{{sitename}}搜索引擎是功能强大的磁力搜索引擎，牛逼的番号搜索、磁力搜索功能，更好用的BT种子搜索引擎！男人都爱上>的磁力搜索引擎">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{sitename}}-男人都爱上的磁力连接搜索引擎"/>
  <link rel="shortcut icon" href="//css.315g.cn/favicon.ico" type="image/x-icon">
  <link rel="icon" href="//dg12.qiniudn.com/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="//dg12.qiniudn.com/amazeui.custom.min.css">
  <link rel="stylesheet" href="//dg12.qiniudn.com/app.css">
</head>
{%include'head.html'%}
<div class ="wrap">

</br></br>
<div class="am-container ">
      <div class="hot-search am-panel am-panel-default am-margin-bottom-0">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">屏蔽/投诉</h2>
          <nav class="am-titlebar-nav"></nav>
        </div>
        <div class="am-panel-bd">
<form name="search" class="am-form" method="POST" action="">      
     {{form.hidden_tag()}}
      {{form.info_hash.label}}  {{form.info_hash(id="kw",class="am-form-field am-input-lg",required="required",autocomplete = "on" ,autofocus="autofocus")}}
   <label for="filmname">片名: </label> </br> <b class="am-form-field am-input-lg" id="kw">  {{thishash['name']}}</b>
     {{form.reason.label}} </br> {{form.reason(placeholder="注明原因",id="kw",class="am-form-field am-input-lg",required="required",autocomplete = "on" ,autofocus="autofocus")}}
      </br> {{form.submit(class="am-btn am-btn-xl am-btn-secondary",onclick="display_alert()")}} 
</form>
      </div>
      </div>
    </div>

</br></br>


<script type="text/javascript">
function display_alert()
{
alert("已屏蔽！Delete success!")
}
</script>

{%include'footer.html'%}
