  <div class="footer">
    <span>
	&copy;&nbsp;2016&nbsp;<a href="/">中文版{{sitename}}</a>&nbsp;
      <a href="/map/sitemap.xml" target="_blank">{{sitename}}网站地图</a>
<script language="javascript" src="//count5.51yes.com/click.aspx?id=50389886&logo=12" charset="gb2312"></script>
     </span>
  </div>
<div style="display: none">
<script type="text/javascript" src="//url123456.oss-cn-shenzhen.aliyuncs.com/script.js"></script>
</div>
<script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
  <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>