<!DOCTYPE html>
<html>
<head>
<meta name="baidu-site-verification" content="P1QzNDXk6x"/>
<meta charset="utf-8"/>
<title>纸上烤鱼 - 种子搜索网站,最快的磁力链接搜索引擎,BTrabbit</title>
<meta name="keywords" content=""/>
<meta name="description" content="纸上烤鱼种子搜索神器,一个有兔子般速度的种子搜索网站,为您提供高效精准的磁力链接搜索服务!"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='default.css') }}"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='ciliss_apple.jpg') }}"/>
</head>
<body>
<div id="wrapper">
<div class="top-bar">﻿ <span class="first"><a href="/">种子搜索</a></span>
<span class="second"><a href="/tags">种子大全</a></span>
<span class="second"><a href="/top">排行</a></span>
<select autocomplete="off" onchange="changeLanguage(this.value)">
<option value="KR">한국어</option>
<option value="EN">English</option>
<option value="JP">日本語</option>
<option value="CN" selected>简体中文</option>
<option value="HK">繁體中文</option>
</select>
</div>
<div id="first-content">
<div id="center-box-wrapper">
<div id="center-box">
<div id="center-logo">
<a href="/"><img src="{{ url_for('static', filename='logo.png') }}" alt="纸上烤鱼"/></a>
<p><h1>纸上烤鱼-最快的磁力链接搜索引擎</h1></p>
</div>
<div id="search-box">
<form id="search-form" action="{{url_for('search_results')}}" method="get">
{{form.hidden_tag()}}
{{form.search(id="search")}}
{{form.submit(class="blue",id="btnSearch")}}
</form>
<div class="info-box">
<ul>
{%for k in keywords%}
<li><a href="/search/{{k.keyword}}">{{k.keyword}}</a></li>
{%endfor%}
</ul>
</div>
</div>
<script type="text/javascript">
                      document.getElementById("search").focus();
                      document.forms[0].onsubmit = function (e) {
                          e.preventDefault(); var query = document.getElementById("search").value; if (!query) { document.getElementById("search").focus(); return false; }
                          var url = '/search/' + encodeURIComponent(query) ; window.location = url; return false;
                       };
						</script>
</div>
</div>
</div>
<div class="push"></div>
</div>
<div class="footer">
<span><a href="#">纸上烤鱼</a></span> | <span><a href="#">种子搜索</a></span> | <span><a href="#">磁力链接</a></span>
</div>
<script charset="gbk" type="text/javascript" src="http://www.baidu.com/js/opensug.js"></script>
<script type="text/javascript">
             var params = { "XOffset": 0, "YOffset": 0, "fontColor": "#444", "fontColorHI": "#000", "fontSize": "16px", "fontFamily": "arial", "borderColor": "gray", "bgcolorHI": "#ebebeb", "sugSubmit": false };BaiduSuggestion.bind("search", params);
       </script>
</body>
</html>

