<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Cache-Control" content="no-transform " />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="applicable-device" content="pc,mobile">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <title>Btbook - DHT Magnet Search</title>
    <meta name="keywords" content="Magnetic search, search, search, search, search, search, search, search, search, search, search, search, search, search, search, search, search, search, search, search, search, search, search Search engine, seed search, BT search search, BT search, magnetic search, magnetic chain, magnetic link search, magnetic link search engine, Thunder download">
    <meta name="description" content="a simple DHT research website." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" /> 
  <link rel="shortcut icon" href="//css.315g.cn/favicon.ico"/>
  <link rel="icon" href="//dg12.qiniudn.com/favicon.ico"/>
  <!--<link type="text/css" rel="stylesheet" href="//dg12.qiniudn.com/bt.css" />-->
  <link type="text/css" rel="stylesheet" href="//css.315g.cn/bt.css" />
 </head> 
{%include'head.html'%}
    <div class="searchbox">
      <form action="{{url_for('search',category=0,page=1)}}" name="search" id="searchFrom" method="POST"  >
  <div class="search">
{{form.hidden_tag()}}
          <div class="sbtn"><button value="磁力搜索" type="submit" >磁力搜索</button></div>
<div class="wd" >
{{form.search(id="search",placeholder="输入关键词搜索BT种子...",autocomplete = "on" ,autofocus="autofocus")}}
</div>
        </div>
      </form>
    </div>
<div class="f16 mt15 mb15">When boring, come<b>Btbook - DHT Magnet Search</b>Looking for the latest film, TV, music, game solution bored! :-)</div>
    <div class="addthis_inline_share_toolbox_fkn6"></div>
      <span class="red f14">btbook Due to the huge amount of visits, the relevant departments of harmony, the technical department of the emergency purchase of a number of anti-jump domain name, please click to view <a href="http://www.026001.cn/" target="_blank"><b>btbooK List of anti - jumps</b></a>^_^</span>
    <div class="tbox"> 
          <div class="ssbox"> 
            <div class="title"> <h3><span class="f14">Btbook - DHT Magnet Search popular searches</span></h3> </div> 
            <div class="rms">
            {%for k in keywords%}
            <span><a href="{{url_for('search_results',query=k.keyword,category=0,order=0,page=1)}}"><b>{{k.keyword}}</b></a></span>
            {%endfor%}
            </div> 
          </div> 
        </div>
<span class="f14" ><strong><span style="color: #ff0000;">Tips: press at the same time<span style="background-color: #ff6600; color: #ffffff;">Ctrl+D</span>Can quickly add this site to the Favorites!</span></strong></span></div>
  </div>
{%include'footer.html'%}
</body>
</html>