
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Cache-Control" content="no-transform " />
  <title>{{query}} - {{sitename}} - 男人都爱上的磁力连接搜索引擎</title>
  <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width"/>
  <meta name="keywords" content="{{sitename}},{{query}},宅男BT,宅男磁力,宅男福利,磁力搜索,番号搜索,番号搜索引擎,磁力链接,BT种子,BT种子搜索,BT搜索引擎,种子搜索神器,磁力链接搜索,磁力链接搜索引擎">
  <meta name="description" content="{{sitename}}搜索引擎是功能强大的磁力搜索引擎，牛逼的番号搜索、磁力搜索功能，更好用的BT种子搜索引擎！男人都爱上>的磁力搜索引擎">
  <link type="text/css" rel="stylesheet" href="//css12345.qiniudn.com/btzhizhu.css" />
  <script type="text/javascript" src="//code.jquery.com/jquery-1.8.3.min.js"></script>
  <link rel="shortcut icon" href="//css.315g.cn/favicon.ico" type="image/x-icon">
  <link rel="icon" href="//dg12.qiniudn.com/favicon.ico" type="image/x-icon">
  {{ moment.include_moment() }}
  {{ moment.lang("zh-cn") }}
</head>
<body>
{%include'head.html'%}
    <div class="mainbox">
  <div class="conbox pdlr20">
    <div class="shead cl">
<form name="search" class="main-search form-search text-center" method="POST" action="{{url_for('search')}}">
 <div class="q-input">
        {{form.hidden_tag()}}
   {{form.search(id="kw",class="search-query",placeholder="电影，音乐，小说，文件，图片",required="required",autocomplete = "on" ,autofocus="autofocus")}}
       <input type="submit" id="btnSearch" value="搜索" class="btn">
        </div>
  </form>
    	<p class="grey" style="margin-top:10px;">搜索建议：大多数资源均以影视的英文名作为资源名</p>
	<p class="grey" style="margin-top:10px;">
为您索检到：&nbsp;&nbsp;&nbsp; <span class="red">{{counts}}</span>条磁力链接，耗时{{(taketime*1000)|int}}毫秒。  
</p>
<div class="list cl">
	<dl class="cl">
	<dt><b>资源名:</b></dt>
	<dd class="dsize">
{% if order==1 %} <a href="{{url_for('search_results',query=query,category=category,order=1,page=1)}}" class="desc">{%else%}
<a href="{{url_for('search_results',query=query,category=category,order=1,page=1)}}">{%endif%}大小</a>
  </dd>
  
  <dd class="dsize">
{% if order==2 %} <a href="{{url_for('search_results',query=query,category=category,order=2,page=1)}}" class="asc active">{%else%}
<a href="{{url_for('search_results',query=query,category=category,order=2,page=1)}}">{%endif%}时间</a>
      </dd>
 <dd class="dmagg">
	 {% if order==3 %} <a href="{{url_for('search_results',query=query,category=category,order=3,page=1)}}" class="desc">{%else%}
 <a href="{{url_for('search_results',query=query,category=category,order=3,page=1)}}">{%endif%}热度</a>
  </dd>
		
    {% for hash in hashs %}
        <dt ><img src="//www.zzcili.net/static/img/torrent.gif" class="ico">
		<a title="{% for x in hash.name|fenci(10) %}{{x}},{% endfor %}" href="{{url_for('detail',info_hash=hash.info_hash)}}"><span> {{hash.name}}</span></a></dt>
        <dd class="dsize">{% if hash['length']>1073741824 %}
{{(hash['length']/1073741824)|round(2)}} GB
{% else %}{{(hash['length']/1048576)|round(2)}} MB
{%endif%}</dd>
        <dd class="dsize">{{ moment(hash['last_seen']|todate).fromNow(refresh=True) }}</dd>
        <dd class="dmagg">{{hash['requests']}}</dd>
	{% endfor %}
	
          </dl>            
     <dl>
       </dl>
  </div>
 <p class="cl">
     <div class="pagination">
	       <ul>
<span>共{{pages}}页</span>  
{% set prev_pages = page-4 if page>5 else 1 %}
{% set next_pages = page+5 if page+5<=pages else pages%}
    {%if pages<10%}
{%if page==1%}
<a href="#">上一页</a>
{%else%}
<li><a href="{{ url_for('search_results', query=query,category=category,order=order,page=page-1 )}}">上一页</a></li>
{%endif%}
{%for i in range(1,pages+1)%}
<li><a href="{{ url_for('search_results', query=query,category=category,order=order,page=i )}}">{{i}}</a></li>
{%endfor%}
{%if page<pages%}
<li><a href="{{ url_for('search_results', query=query,category=category,order=order,page=page+1) }}">下一页</a></li>
{%else%}
<li><a href="#">下一页</a></li>
{%endif%}    
    {%else%}
{%if page==1%}
<li><a href="#">上一页</a></li>
{%else%}
<li><a href="{{ url_for('search_results', query=query,category=category,order=order,page=page-1 )}}">上一页</a></li>
{%endif%}
{%for i in range(prev_pages,page)%}
<li><a href="{{ url_for('search_results', query=query,category=category,order=order,page=i )}}">{{i}}</a></li>
{%endfor%}
<span>{{page}}</span>
{%for i in range(page+1,next_pages+1)%}
<li><a href="{{ url_for('search_results', query=query,category=category,order=order,page=i )}}">{{i}}</a></li>
{%endfor%}
{%if page<pages%}
<li><a href="{{ url_for('search_results', query=query,category=category,order=order,page=page+1) }}">下一页</a></li>
{%else%}
<li><a href="#">下一页</a></li>
{%endif%}
    {%endif%}
                </ul>
</div>
</p>
  </div>
</div>
</div>

	<p>
	<br />
</p>
{%include'footer.html'%}
</body>
</html>
