<!doctype html>
<html lang="cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{sitename}}实时搜索关键词风云榜 - {{sitename}}新网址,中文版{{sitename}},电影BT种子,快播种子,快播资源下载,BT种子下载网站,{{sitename}}BT下载擎</title>
  <meta name="keywords" content="{{sitename}},宅男BT,宅男磁力,宅男福利,磁力搜索,番号搜索,番号搜索引擎,磁力链接,BT种子,BT种子搜索,BT搜索引擎,种子搜索神器,磁力链接搜索,磁力链接搜索引擎">
  <meta name="description" content="{{sitename}}搜索引擎是功能强大的磁力搜索引擎，牛逼的番号搜索、磁力搜索功能，更好用的BT种子搜索引擎！男人都爱上>的磁力搜索引擎">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{sitename}}-男人都爱上的磁力连接搜索引擎"/>
  <link type="text/css" rel="stylesheet" href="//css12345.qiniudn.com/btzhizhu.css" />
  <link rel="stylesheet" href="//dg12.qiniudn.com/amazeui.custom.min.css">
  <link rel="stylesheet" href="//dg12.qiniudn.com/app.css">
  <link rel="shortcut icon" href="//css.315g.cn/favicon.ico" type="image/x-icon">
  <link rel="icon" href="//dg12.qiniudn.com/favicon.ico" type="image/x-icon">
</head>
{%include'head.html'%}
    <div class="mainbox">
  <div class="conbox pdlr20">
    <div class="shead cl">
<form name="search" class="main-search form-search text-center" method="POST" action="{{url_for('search')}}">
 <div class="q-input">
        {{form.hidden_tag()}}
   {{form.search(id="kw",class="search-query",placeholder="电影，音乐，小说，文件，图片",required="required")}}
       <input type="submit" id="btnSearch" value="搜索" class="btn">
        </div>
  </form>
    	<p class="grey" style="margin-top:10px;">搜索建议：大多数资源均以影视的英文名作为资源名</p>
 </div> </div> </div>
<div class="am-container ">
<div class="notice am-margin-top-sm">
    <div class="am-panel am-panel-default">
      <div class="am-panel-bd">
        <h2><img src="//dg12.qiniudn.com/hot.png" alt="day_popular">{{sitename}}实时搜索关键词风云榜</h2>
      </div>
    </div>
  </div>
</div>
	<div class="am-container ">
      <div class="hot-search am-panel am-panel-default am-margin-bottom-0">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
          <h2 class="am-titlebar-title ">热门搜索</h2>
          <nav class="am-titlebar-nav"><a href="{{url_for('tag',page=1)}}" class="">更多 &raquo;</a></nav>
        </div>
        <div class="am-panel-bd">
        {%for tag in tags%}
    <span><a class="fb12" href="{{url_for('search_results',query=tag.tag,category=0,order=3,page=1)}}">{{tag.tag}}</a></span>{%endfor%}
        </div>
      </div>
        <div class="am-panel-bd">
          <div class="pagediv">
          <span>共{{pages}}页</span> 
{% set prev_pages = page-4 if page>5 else 1 %}
{% set next_pages = page+5 if page+5<=pages else pages%}
    {%if pages<10%}
{%if page==1%}
<a href="#">上一页</a>
{%else%}
<a href="{{ url_for('tag', page=page-1 )}}">上一页</a>
{%endif%}
{%for i in range(1,pages+1)%}
    <a href="{{ url_for('tag', page=i )}}">{{i}}</a>
{%endfor%}
{%if page<pages%}
<a href="{{ url_for('tag', page=page+1) }}">下一页</a>
{%else%}
<a href="#">下一页</a>
{%endif%}    
    {%else%}
{%if page==1%}
<a href="#">上一页</a>
{%else%}
<a href="{{ url_for('tag', page=page-1 )}}">上一页</a>
{%endif%}
{%for i in range(prev_pages,page)%}
    <a href="{{ url_for('tag', page=i )}}">{{i}}</a>
{%endfor%}
<span>{{page}}</span>
{%for i in range(page+1,next_pages+1)%}
    <a href="{{ url_for('tag', page=i )}}">{{i}}</a>
{%endfor%}
{%if page<pages%}
<a href="{{ url_for('tag', page=page+1) }}">下一页</a>
{%else%}
<a href="#">下一页</a>
{%endif%}
    {%endif%}
          </div>
        </div>    </div>
	<p>
	<br />
</p>
{%include'footer.html'%}
</body>
</html>